# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\gooft\Desktop\RevatureStuff\RevatureTraining\repos\1-25-2021-msa\Project_p1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
