body {

    background-color: orange;
}

h1 {
    text-align: center;

}

h2 {
    text-align: center;
}

.container{
    display:flex;
    flex-direction: column;
    position: relative;
    margin: 15em;
    border-style: dotted;
    
}
#form{
    display:flex;
    flex-direction: column;
    padding: 5em;
    size: 1em , 1em;
    border:1px;
}

input{
    padding: 1em;
    size: 1em;

}



